################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CRUD.BusinessLogic/bin/Debug/net6.0
/CRUD.BusinessLogic/obj
/CRUD.DataAccess/bin/Debug/net6.0
/CRUD.DataAccess/obj
/CRUD.Model/bin/Debug/net6.0
/CRUD.Model/obj
/CRUD_API/.vs/CRUD_API
/CRUD_API/bin/Debug/net6.0
/CRUD_API/obj
/Authentication_And_Authorization/Authentication_Authorization/Authentication_Authorization/obj
/Authentication_And_Authorization/Authentication_Authorization/.vs/Authentication_Authorization/FileContentIndex
/Authentication_And_Authorization/Authentication_Authorization/.vs
/CRUD_API/.vs
/CRUD_API/bin
/CRUD_API/obj
/CRUD.Model/obj
/CRUD.Model/bin
/CRUD.DataAccess/obj
/CRUD.DataAccess/bin
/CRUD.BusinessLogic/bin
/CRUD.BusinessLogic/obj
/.vs
/CRUD.API/bin
/CRUD.API/logs
/CRUD.API/obj
/CRUD.BusinessLayer/obj
/CRUD.BusinessLayer/bin
/CRUD.Dtos/obj
/CRUD.Dtos/bin
/CRUD.Entities/obj
/CRUD.Entities/bin
/CRUD.PersistenceLayer/obj
/CRUD.PersistenceLayer/bin
/CRUD.SQL/bin
/CRUD.SQL/obj
/CRUD.Utility/obj
/CRUD.Utility/bin
